.container
  #quotebox{:style => "margin-top:30px;", :class => "mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3"}
    .panel.panel-info
      .panel-heading
        %h3{:class => "panel-title text-center"}SydneyTesters Login
      .panel-body{:style => "padding-top:30px"}

        %form{:id => "loginform", :class => "form-horizontal", :role => "form", :action => "./landing", :method => "post", "data-bv-feedbackicons-valid" => "glyphicon glyphicon-ok", "data-bv-feedbackicons-invalid" => "glyphicon glyphicon-remove", "data-bv-feedbackicons-validating" => "glyphicon glyphicon-refresh", "data-bv-submitbuttons" => 'button[type="submit"]', "data-bv-live" => "enabled"}

          %fieldset

          .form-group{:style => "margin-bottom: 25px"}
            %label{:class => "col-md-4 control-label", :for => "textinput"}Email
            .col-md-6
              %input{:id => "email", :name => "email", :type => "text", :placeholder => "Enter your email address", :class => "form-control input-md", "data-bv-notempty" => "", "data-bv-notempty-message" => "The email is required"}

          .form-group{:style => "margin-bottom: 25px"}
            %label{:class => "col-md-4 control-label", :for => "textinput"}Password
            .col-md-6
              %input{:id => "password", :name => "password", :type => "password", :placeholder => "Enter your password", :class => "form-control input-md", "data-bv-notempty" => "", "data-bv-notempty-message" => "The password is required"}

          .form-group
            .col-md-4
            .col-md-6
              %button{:id => "login", :type => "submit", :name => "getLandingpage", :href => "/landing", :class => "btn btn-primary btn-lg btn-block"}Login
